@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



body {
    font-family: 'Orbitron', sans-serif;
    background-color: #BCC6CC;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px;
    gap: 250px;
    color: #2c3e50;
}



header h2 {
    font-weight: 900;
    color: #1a1a1a;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-right: 25px;
}

header p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    opacity: 0.7;
}

.AddSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-family: inherit; /* Keeps Orbitron in the input box */
    outline: none;
    padding-right: 25px;
}

input:focus {
    border-color: #2c3e50;
}

button {
    padding: 12px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #444;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}
.site-list{
    gap: 10px;
    width: 50%;
}
.site-item{
    display: flex;
    justify-content: space-between; /* name left, button right */
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #e0e6ea;
    border-radius: 8px;
    gap: 150px;
}

